.post,
.content-section {
  margin: 0.5em 1.1em;
}

.post {
  border: 3px solid var(--bg1);
  padding: 0rem 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px; /* Adding rounded corners */
  margin: 1rem 0; /* Adjusting margin for spacing */
  & figure,
  & img:not(figure img),
  & video:not(figure video) {
    margin: 0.5rem 0;
    box-sizing: border-box;
  }
}

/*
.post:hover{
  /* fade background color to fg1 lightly 
  background-color: color-mix(in srgb, var(--bg4), transparent 33%);


}
*/

.post-header,
.post-content__read-more {
  font-family: var(--font-monospace);
}

.post-meta__author {
  font-weight: 700;
}

.post-content {
  margin: 0.7rem 0;
}

.post-content__read-more {
  color: var(--primary-alt);
  margin-top: 0.7rem;
}

.post-header,
.post-content {
  & a {
    color: var(--primary-alt);
  }

  & a:hover {
    color: var(--primary);
  }
}

.post-tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  margin: 0.7rem 0;
}

.post-tag {
  font-size: 0.9rem;
  line-height: 1;
  /* add rounded shape in background with color bg4 with low alpha */
  background-color: color-mix(in srgb, var(--blue1), transparent 66%);
  border-radius: 10px;
  padding: 0.3rem 0.5rem;


  &::before {
    content: "#";
  }
}

.post-heading__anchor {
  display: none;
}

h1:hover,
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
  & .post-heading__anchor {
    display: inline-block;
  }
}
